body{
  margin:0;
  background:black;
  color:#00e5ff;
  font-family: monospace;
}

.screen{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
  text-align:center;
}

.mode-card{
  border:1px solid #00e5ff;
  box-shadow:0 0 15px #00e5ff33;
  padding:20px;
  margin:15px;
  width:90%;
  max-width:400px;
}

.mode-card h2{
  color:#00e5ff;
  text-shadow:0 0 10px #00e5ff;
}

.mode-card button{
  margin-top:10px;
  padding:10px 20px;
  background:#00e5ff;
  color:black;
  border:none;
  cursor:pointer;
  font-weight:bold;
}
.aura-E { box-shadow: 0 0 30px #00e5ff inset; }
.aura-D { box-shadow: 0 0 30px #00ff88 inset; }
.aura-C { box-shadow: 0 0 30px #ffee00 inset; }
.aura-B { box-shadow: 0 0 30px #ff9900 inset; }
.aura-A { box-shadow: 0 0 30px #ff0033 inset; }
.aura-S { box-shadow: 0 0 40px #a855f7 inset; }
.aura-SS { box-shadow: 0 0 50px #ffffff inset; }
.aura-SSS { box-shadow: 0 0 60px #ffd700 inset; }
.aura-Î© { box-shadow: 0 0 70px #7f00ff inset; }
.aura-VOID { box-shadow: 0 0 80px #000 inset; }
.aura-GOD { box-shadow: 0 0 100px #00ffff inset; }
